header{
    background-color: red;
    height: 100px;
}
body{
    width: 100%;
    place-items: center;
    background-color: white;
    font-family: Helvetica;
    line-height: 50px;
}
main{
    min-height: 400px;
    align-items: center;
}
footer{
    background-color: red;
    height: 120px;
}
.cabecalho{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    text-align: center;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}
.cliqueAqui{
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
}
.sorteio{
    padding-top: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}
.botaoSorteio{
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
}
.rodape{
    text-align: bottom;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 10px;
    line-height: normal;
    line-break: 10px;
}